.profileCard {
    margin:auto;
    margin-bottom:20px;
    width:35%;
    min-width:250px;
}
.cardBody {
    padding:20px 50px 20px 50px
}
.buttons {
    width: 100%;
}
button { 
    background-color: white;
    height: 50px;
    width: 50%;
    border: none;
    border-bottom: 1px solid skyblue;
    padding-left: 0px;
    padding-right: 0px;
}

button:hover {
    background-color: skyblue;
    color: white;
    border-bottom: 1px solid skyblue;
}
button:checked{
    background-color: skyblue;
    color: white;
    border-bottom: 1px solid skyblue;
}
.vl {
    border-left: 1px solid skyblue;
}
